@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }
}

.step-links a{
    color: #4285F4;
}

label {
    cursor:pointer;
    filter: grayscale(100%);
}

label:hover {
    filter: grayscale(0);
}

input[type="radio"]:checked + label {
    filter: grayscale(0);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.zoogle-container {
    padding-top: 15%
}

.side-banner {
    background-image: url("img/bg.png");
    background-repeat: repeat-y;
    background-position: center;
}