@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
text-align: right;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
label {
    cursor:pointer;
    filter: grayscale(100%);
}

label:hover {
    filter: grayscale(0);
}
input[type="radio"]:checked + label {
    filter: grayscale(0);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}