<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>Zoogle Search</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <form class="form-inline global-search" method="get">
                <h1 style="font-size: 55px; font-family:Futura">
                    Zoogle Search
                </h1>

                <br><br>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="fluffy, energetic, etc." name="search"
                                id="search-input" value="{% if query %}{{query}}{% endif %}" />
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>


                <div class="form-group d-block mt-2">
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="bird" name="bird" {% if none_checked or
                            checked[0] %}checked{% endif %}>
                        <label class="form-check-label" for="bird">Bird</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="cat" name="cat" {% if none_checked or
                            checked[1] %}checked{% endif %}>
                        <label class="form-check-label" for="cat">Cat</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="dog" name="dog" {% if none_checked or
                            checked[2] %}checked{% endif %}>
                        <label class="form-check-label" for="dog">Dog</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="fish" name="fish" {% if none_checked or
                            checked[3] %}checked{% endif %}>
                        <label class="form-check-label" for="fish">Fish</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="horse" name="horse" {% if none_checked or
                            checked[4] %}checked{% endif %}>
                        <label class="form-check-label" for="horse">Horse</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="rabbit" name="rabbit" {% if none_checked or
                            checked[5] %}checked{% endif %}>
                        <label class="form-check-label" for="rabbit">Rabbit</label><br>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        <input type="checkbox" class="form-check-input" id="turtle" name="turtle" {% if none_checked or
                            checked[6] %}checked{% endif %}>
                        <label class="form-check-label" for="turtle">Turtle</label><br>
                    </div>
                </div>

            </form>
        </div>


        <div class="container">
            <h1 class="text-center">{{output_message}}</h1>
            <br>
            {% if data %}
            <form method="get">
                {% if query %}
                <input type="hidden" name="search" value="{{query}}">
                {% endif %}
                {% for d in data %}
                <br>
                <div class="card p-10">
                    <div class="row justify-content-start">
                        <div class="col">
                            <img src="{{d['image_url']}}" alt="Picture of {{d['name']}}"
                                class="rounded card-body img-fluid align-self-center"
                                style="border-radius:20px !important" />
                        </div>
                        <div class="col-7">
                            <div class="card-body text-start">
                                <fieldset style="display:inline !important" class="float-end">
                                    <input type="radio" name="rating-{{d['pos']}}" class="visually-hidden"
                                        id="neutral-{{d['pos']}}" value="0" {% if not feedback or (feedback and
                                        feedback[d['pos']-1]=="0" ) %}checked{% endif %}>
                                    <input type="radio" name="rating-{{d['pos']}}" class="visually-hidden"
                                        id="upvote-{{d['pos']}}" value="1" {% if feedback and feedback[d['pos']-1]=="1"
                                        %}checked{% endif %}>
                                    <label for="upvote-{{d['pos']}}">
                                        <img src="../static/img/thumb-up.png" alt="Thumbs up" class="mx-1"
                                            style="width:30px; height:auto" />
                                    </label>
                                    <input type="radio" name="rating-{{d['pos']}}" class="visually-hidden"
                                        id="downvote-{{d['pos']}}" value="-1" {% if feedback and
                                        feedback[d['pos']-1]=="-1" %}checked{% endif %}>
                                    <label for="downvote-{{d['pos']}}">
                                        <img src="../static/img/thumb-down.png" alt="Thumbs down" class="mx-1"
                                            style="width:30px; height:auto" />
                                    </label>
                                </fieldset>


                                <h4 class="card-title">
                                    {{d['pos']|string + ": "}} <a href="{{d['page_url']}}">{{d['name']}}</a>
                                </h4>


                                <br>
                                <h5>Score: {{d['score']|string}}</h5>
                                <p class="card-text">{{d['text']}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary float-end">Submit Feedback</button>
            </form>
            {% elif query%}
            <br>
            <p>No items matched. Try a different query!</p>
            {% endif %}
        </div>
    </div>

    <footer>
        <div class="container pt-3 mt-5">
            <p>
                Project Name: Zoogle Search <br>
                Group Members: Thomas Lee (tcl59), Joseph Choi (jc2493), Ray Wei (ryw23), Joyce Huang (sh2429), Clara
                Song
                (cs2274)
            </p>
        </div>
    </footer>
</body>

</html>